{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
  <div class="mx-auto" style="max-width: 720px">
    {% if not g.user_id %}
      <div class="text-center mt-5">
        <h1 class="display-6">EZ Money</h1>
        <p class="lead">An EZ money tracker.</p>
        <a href="{{ url_for('auth.login') }}" class="btn btn-primary">Log In</a>
      </div>
    {% else %}
      <div class="d-flex align-items-center justify-content-between my-3">
        <div>
          <h1>
            <span class="lead d-block">Balance:</span>
            <span class="display-6">{{ transactions|sum(attribute="amount")|format_currency(with_sign=True) }}</span>
          </h1>
          <div class="fw-light">
            <p class="m-0">Expense: {{ transactions|map(attribute="amount")|select("lt", 0)|sum|format_currency }}</p>
            <p class="m-0">Income: {{ transactions|map(attribute="amount")|select("gt", 0)|sum|format_currency }}</p>
          </div>
        </div>
        
        <!-- Add button -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
          Add Transaction
        </button>
      </div>
      
      <!-- Add modal -->
      <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="addModalLabel">Add Transaction</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="addForm" method="post" action="{{ url_for('transaction.add') }}">
                <div class="mb-3">
                  <label for="amount" class="form-label">Amount</label>
                  <div class="input-group">
                    <span class="input-group-text">₱</span>
                    <input type="number" class="form-control" id="amount" name="amount" aria-label="Amount (to the nearest dollar)" min="-1000000000" max="1000000000" step=".01" aria-describedby="amountHelpBlock" required>
                  </div>
                  <div id="amountHelpBlock" class="form-text">
                    Input a positive amount for income, and a negative amount for expense.
                    <br>
                    Amount must be a valid number between -1 billion and 1 billion.
                  </div>
                </div>
                <div class="mb-3">
                  <label for="description" class="form-label">Description</label>
                  <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
                </div>
                <div class="mb-3">
                  <label for="date" class="form-label">Date:</label>
                  <input class="form-control" type="date" id="date" name="date" value="{{ date.today() }}" required>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <input type="reset" class="btn btn-secondary" form="addForm" value="Close" data-bs-dismiss="modal">
              <input type="submit" class="btn btn-primary" form="addForm" value="Add">
            </div>
          </div>
        </div>
      </div>

      <!-- Time dropdown -->
      <div class="d-flex justify-content-end align-items-center mb-3">
        <div class="fw-light">Sort by: </div>
        <div class="dropdown">
          <button class="btn dropdown-toggle fw-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if request.args.t in ("week", "month", "year") %}
              {{ request.args.t|capitalize }}
            {% else %}
              All time
            {% endif %}
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('index', t='week') }}">Past week</a></li>
            <li><a class="dropdown-item" href="{{ url_for('index', t='month') }}">Past month</a></li>
            <li><a class="dropdown-item" href="{{ url_for('index', t='year') }}">Past year</a></li>
            <li><a class="dropdown-item" href="{{ url_for('index') }}">All time</a></li>
          </ul>
        </div>
      </div>
      
      {% if not transactions %}
        <h1 class="display-6 text-muted text-center">
          No transactions
          {% if request.args.t == "week" %}
            in the past week.
          {% elif request.args.t == "month" %}
            in the past month.
          {% elif request.args.t == "year" %}
            in the past year.
          {% else %}
            to display.
          {% endif %}
        </h1>
      {% else %}
        <!-- Chart -->
        <div class="mb-3 mx-auto" style="max-width: 720px;">
          <canvas id="barGraph" class="d-none"></canvas>      
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
          new Chart(
            document.getElementById("barGraph"),
            {
              type: "bar",
              data: {
                labels: {{ chart.labels|tojson }},
                datasets: [
                  {
                    label: "Expense",
                    data: {{ chart.data.expense|tojson }},
                    backgroundColor: "#dc3545"
                  },
                  {
                    label: "Income",
                    data: {{ chart.data.income|tojson }},
                    backgroundColor: "#198754"
                  }
                ]
              },
              options: {
                scales: {
                  x: {
                    stacked: true,
                    title: {
                      display: true,
                      text: "days ago"
                    }
                  },
                  y: {
                    stacked: true,
                    title: {
                      display: true,
                      text: {{ g.user["currency"]|tojson }}
                    }
                  }
                },
                plugins: {
                  tooltip: {
                    callbacks: {
                      title: function(tooltipItems) {
                        let labels = [];

                        tooltipItems.forEach(function(item) {
                          let label = item.label;
                          if (label === "0") {
                            label = "Today";
                          } else if (label === "1") {
                            label += " day ago";
                          } else {
                            label += " days ago"
                          }
                          labels.push(label);
                        });

                        return labels;
                      },
                    }
                  }
                }
              }
            }
          )
        </script>
        
        {% for transaction in transactions|reverse %}
          <!-- Expense card -->
          <div class="card mx-auto mb-3" style="max-width: 700px;">
            <div class="card-body d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <p class="card-text lead m-0 text-wrap">{{ transaction.description }}</p>
                <div class="hide d-flex mx-3">
                  <button type="button" class="icon btn p-0" data-bs-toggle="modal" data-bs-target="#editModal{{ transaction.id }}">
                    <i class="bi bi-pencil"></i>
                  </button>
                  <button type="submit" class="icon btn p-0 ms-2" form="deleteForm{{ transaction.id }}">
                    <i class="bi bi-trash3"></i>
                  </button>
                </div>
              </div>
              <div class="text-end flex-shrink-0 ms-3">
                <h5 class="card-title fw-normal {{ transaction.amount|text_color }}">{{ transaction.amount|format_currency(with_sign=True) }}</h5>
                <p class="card-subtitle text-muted"><small>{{ date.fromisoformat(transaction.created).strftime("%b %d, %Y") }}</small></p>
              </div>
            </div>
          </div>

          <!-- Edit modal -->
          <div class="modal fade" id="editModal{{ transaction.id }}" tabindex="-1" aria-labelledby="editModalLabel{{ transaction.id }}" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="editModalLabel{{ transaction.id }}">Edit Transaction</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form id="editForm{{ transaction.id }}" method="post" action="{{ url_for('transaction.edit', id=transaction.id) }}">
                    <div class="mb-3">
                      <label for="amount{{ transaction.id }}" class="form-label">Amount</label>
                      <div class="input-group">
                        <span class="input-group-text">₱</span>
                        <input type="number" class="form-control" id="amount{{ transaction.id }}" name="amount" aria-label="Amount (to the nearest dollar)" value="{{ transaction.amount }}" min="-1000000000" max="1000000000" step=".01" aria-describedby="amountHelpBlock{{ transaction.id }}" required>
                      </div>
                      <div id="amountHelpBlock{{ transaction.id }}" class="form-text">
                        Input a positive amount for income, and a negative amount for expense.
                        <br>
                        Amount must be a valid number between -1 billion and 1 billion.
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="description{{ transaction.id }}" class="form-label">Description</label>
                      <textarea class="form-control" id="description{{ transaction.id }}" name="description" rows="3" required>{{ transaction.description }}</textarea>
                    </div>
                    <div class="mb-3">
                      <label for="date{{ transaction.id }}" class="form-label">Date:</label>
                      <input class="form-control" type="date" id="date{{ transaction.id }}" name="date" value="{{ transaction.created }}" required>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <input type="reset" class="btn btn-secondary" form="editForm{{ transaction.id }}" value="Close" data-bs-dismiss="modal">
                  <input type="submit" class="btn btn-primary" form="editForm{{ transaction.id }}" value="Save">
                </div>
              </div>
            </div>
          </div>
  
          <!-- Delete form -->
          <form id="deleteForm{{ transaction.id }}" action="{{ url_for('transaction.delete', id=transaction.id) }}" method="post"></form>
          {% endfor %}
      {% endif %}
    {% endif %}
  </div>
{% endblock %}

{% block settings %}
  <!-- Settings offcanvas -->
  <div class="offcanvas offcanvas-end" tabindex="-1" id="settings" aria-labelledby="settingsLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="settingsLabel">Settings</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column">

      <form action="{{ url_for('settings.change_currency') }}" method="post" class="mb-3">
        <label for="currencySelect" class="form-label">Currency</label>
        <div class="input-group">
          <select class="form-select" id="currencySelect" name="currency" aria-label="Currency select" required>
            <option selected>{{ g.user["currency"] }}</option>
              {% for currency in currency_formats %}
                <option value="{{ currency }}">{{ currency }}</option>
              {% endfor %}
          </select>
          <button class="btn btn-outline-primary" type="submit">Save</button>
        </div>
      </form>

      <div class="form-check form-switch mb-3">
        {% if not transactions %}
          <input class="form-check-input" type="checkbox" role="switch" id="graphSwitch" disabled>
        {% else %}
          <input class="form-check-input" type="checkbox" role="switch" id="graphSwitch">
        {% endif %}
        <label class="form-check-label" for="graphSwitch">Show graph</label>
      </div>

      {% if not transactions %}
        <button class="btn btn-outline-danger mb-3" type="button" disabled>Delete All Transactions</button>
      {% else %}
        <button class="btn btn-outline-danger mb-3" type="button" data-bs-toggle="modal" data-bs-target="#deleteAllModal">Delete All Transactions</button>
      {% endif %}

      <a href="{{ url_for('auth.logout') }}" class="btn btn-secondary">Log Out</a>
    </div>
  </div>

  {% if transactions %}
    <!-- Delete all modal -->
    <div class="modal fade" id="deleteAllModal" tabindex="-1" aria-labelledby="deleteAllModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteAllModalLabel">Delete All Transactions</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete all transactions?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form action="{{ url_for('settings.delete_all') }}" method="post">
              <button class="btn btn-danger" type="submit">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}