.icon {
  fill-opacity: 75%;
  border: none;
}

.icon:hover {
  fill-opacity: 90%;
}

.icon:active {
  fill-opacity: 100%;
}

.hide {
  opacity: 0%;
  transition: opacity 0.1s;
}

.card:hover .hide {
  opacity: 100%;
}

.navbar-brand span {
  opacity: 75%;
  transition: opacity 0.25s;
}

.navbar-brand:hover span {
  opacity: 100%;
}