body {
  min-height: 100vh;
}

.icon {
  opacity: 75%;
  transition: opacity 0.2s;
  border: none;
}

.icon:hover {
  opacity: 90%;
}

.icon:active {
  opacity: 100%;
}

.hide {
  opacity: 0%;
  transition: opacity 0.1s;
}

.card:hover .hide {
  opacity: 100%;
}

.navbar-brand {
  opacity: 80%;
  transition: opacity 0.2s;
}

.navbar-brand:hover {
  opacity: 100%;
}

footer .nav-link {
  opacity: 75%;
  transition: opacity 0.2s;
}

footer .nav-link:hover {
  opacity: 90%;
}

footer .nav-link:active {
  opacity: 100%;
}