<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EZ Money - {% block title%}{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet" >
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  <script defer src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body class="d-flex flex-column">
  <nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">
        <div class="d-flex align-items-center gap-2">
          <i class="bi bi-cash"></i>
          <span>EZ Money</span>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          {% if not g.user_id %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
          </li>
          {% else %}

          <!-- Settings button -->
          <li class="nav-item">
            <button class="btn nav-link py-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#settings" aria-controls="settings">
              <i class="bi bi-gear"></i>
              <span class="d-md-none ms-2">Settings</span>
            </button>
          </li>

          {% endif %}
          <li class="nav-item py-0 py-md-1">
            <div class="d-none d-md-block vr h-100 mx-2"></div>
            <hr class="d-md-none d-block my-2">
          </li>

          <!-- Theme switcher -->
          <li class="nav-item">
            <button class="btn nav-link py-2" type="button" id="themeSwitch">
              <i class="bi bi-moon-fill"></i>
              <span class="d-md-none ms-2">Toggle theme</span>
            </button>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  {% if g.user_id %}
    <!-- Settings offcanvas -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="settings" aria-labelledby="settingsLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="settingsLabel">Settings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">

        <form action="{{ url_for('settings.change_currency') }}" method="post" class="mb-3">
          <label for="currencySelect" class="form-label">Currency</label>
          <div class="input-group">
            <select class="form-select" id="currencySelect" name="currency" aria-label="Currency select" required>
              <option selected>{{ g.user["currency"] }}</option>
              {% for currency in currency_formats %}
                <option value="{{ currency }}">{{ currency }}</option>
              {% endfor %}
            </select>
            <button class="btn btn-outline-primary" type="submit">Save</button>
          </div>
        </form>

        <div class="form-check form-switch mb-3">
          <input class="form-check-input" type="checkbox" role="switch" id="graphSwitch" checked>
          <label class="form-check-label" for="graphSwitch">Show graph</label>
        </div>

        <a href="{{ url_for('auth.logout') }}" class="btn btn-secondary">Log Out</a>
      </div>
    </div>
  {% endif %}

  <main class="container mb-5">
    {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{ category }} alert-dismissible fade show m-3 text-center" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    {% block content %}{% endblock %}
  </main>
  
  <footer class="bg-body-tertiary text-center mt-auto">
    <ul class="nav justify-content-center gap-3">
      <li class="nav-item">
        <a class="nav-link text-body-secondary" href="https://github.com/rztypi/ez-money"><i class="bi bi-github me-2"></i>rztypi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-body-secondary" href="https://cs50.harvard.edu/x/">CS50x</a>
      </li>
    </ul>
  </footer>
</body>
</html>